<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Accounts control</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

		<h4>Panel kontroli użytkowników</h4>

	<div class="pageContext">
		<div th:if="${not isEmpty}">
			<table class="bordered">
				<tr>
					<th>Nazwa</th>
					<th>Role</th>
					<th>Stan</th>
					<th>Akcja</th>
				</tr>
				<tr th:each="user : ${userList}">
					<td th:text="${user.username}">Username</td>
					<td th:text="${user.userRole}">Text</td>
					<td th:text="${user.enabled}">Text</td>
					<td><a th:href="@{'/owner/accountsControl/blockUser'(username=${user.username},page=${pageNumber})}"><span>Block</span></a>/ <a th:href="@{'/owner/accountsControl/unlockUser'(username=${user.username},page=${pageNumber})}"><span>Unlock</span></a></td>
				</tr>
			</table>
			<ul id="ulFixed" class="pager">
				<div>
					<li  th:class="${pageNumber == 1?'disabled':''}"><a style="margin-top:4px" type="button" class="btn waves-effect waves-teal" th:href="@{/owner/accountsControl(page=1)}"><span>Pierwsza</span></a></li>
					<li  th:class="${pageNumber &lt;= 1?'disabled':''}"><a style="margin-top:4px" type="button" class="btn waves-effect waves-teal" th:href="@{/owner/accountsControl(page=${pageNumber-1})}"><span>Poprzednia</span></a></li>
					<li  style="float: right" th:class="${pageNumber == maxPagesNumber?'disabled':''}"><a style="margin-right:8px" type="button" class="btn waves-effect waves-teal" th:href="@{/owner/accountsControl(page=${maxPagesNumber})}"><span>Ostatnia</span></a></li>
					<li  style="float: right" th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}"><a style="margin-right:4px" type="button" class="btn waves-effect waves-teal" th:href="@{/owner/accountsControl(page=${pageNumber+1})}" th:disabled="${nextInp}"><span>Następna</span></a></li>
				</div>
			</ul>
					<a class="btn waves-effect waves-teal" th:href="@{/home}">Strona domowa</a>
		</div>

	</div>
	</div>
</body>
</html>