<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/global.css"
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />
        <title>Change password</title>
	</head>
	
    <body>

		<header>
			<h1>
				Change password form
			</h1>
			<ul> 
				<li><a th:href="@{/home}">Return to homepage</a></li> 
			</ul>
		</header>
		
		<hr />

        <form th:action="@{/changePassword}" th:object="${newPasswordVO}" method="post">
     		<div>
            	<table>
            	    <tr>
            			<th colspan="2"><div> New Form: </div></th>
            		</tr>
                	<tr>
                    	<td>New password:</td>
                    	<td><input type="password" name="p1" value="" th:field="*{newPassword_1}" /></td>
                    	<td th:if="${#fields.hasErrors('newPassword_1')}" th:errors="*{newPassword_1}">Text</td>
                	</tr>           	
                	<tr>
                    	<td>Repeat new password:</td>
                    	<td><input type="password" name="p2" value="" th:field="*{newPassword_2}" /></td>
                    	<td th:if="${#fields.hasErrors('newPassword_2')}" th:errors="*{newPassword_2}">Text</td>
                	</tr>            	        	
            	</table>
            	<button type="submit" id="send" >Submit</button>
            </div>
        </form>
    </body>
</html>