<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Lista archiwalnych zamówień</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

  	  <div>
  		  <div th:unless="${archivedOrderList.isEmpty()}">
  			  <table>
  				  <tr>
  					  <th>Unikalny numer zamówienia</th>
  					  <th>Rodzaj przesyłki</th>
     				  <th>Data zakupu</th>
  					  <th>Cena ogółem</th>
  				  </tr>
  				  <tr th:each="order : ${archivedOrderList}">
  					  <td th:text="${order.orderId}">Text</td>
  					  <td th:text="${order.shipmentType}">Text</td>
  					  <td th:text="${order.creationTime}">Text</td>
  					  <td th:text="${order.totalPrice}">Text</td>
  				  </tr>
  			  </table>
  		  </div>
  		  <div th:if="${archivedOrderList.isEmpty()}">
  			  <div>Brak archiwalnych zakupów!</div>
  		  </div>
  	  </div>
  	  </div>
</body>
</html>


