<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
	<title>Produkt</title>
</head>
<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

   	 <h5>Podgląd</h5>


    <div class="pageContext">
   	 <div>
   		 <h4><span th:text="'Produkt: '+${product.name}">Text</span></h4>
   	 </div>
   	 <table class="striped">
   		 <tr>
   			 <td>Cena:</td>
   			 <td th:text="${product.price}">Text</td>
   		 </tr>
   		 <tr>
   			 <td>Ilość:</td>
   			 <td th:text="${product.stockSize}">Text</td>
   		 </tr>
   		 <tr>
   			 <td>Kod:</td>
   			 <td th:text="${product.code}">Text</td>
   		 </tr>
   		 <tr>
   			 <td>Producent:</td>
   			 <td th:text="${product.producer.producerName}">Text</td>
   		 </tr>
   		 <tr>
   			 <td>Kategoria:</td>
   			 <td th:text="${product.productCategory.productCategoryName}">Text</td>
   		 </tr>
   		 <tr>
   			 <td>Zdjęcie:</td>
   			 <td><img th:src="@{${'/img/' + product.productImage.productImageName}}" height="200" width="200"/></td>
   		 </tr>
   	 </table>
<!-- th:src="@{${'/resources/images/' + product.productImage.productImageName}}" -->
   	 <form th:action="@{/customer/order/addProduct}" th:object="${consumerProductVO}" method="post">
   		 <table>
   			 <tr>
   				 <th colspan="2"><div id="myFormTitle">Ilość do koszyka:</div></th>
   			 </tr>
   			 <tr>
   				 <td>Ilość:</td>
   				 <td><input type="number" th:field="*{numberOfProducts}" /></td>
   				 <input type="number" hidden="hidden" th:value="*{productId}" th:field="*{productId}" />
   			 </tr>
   			 <tr>
   				<td colspan="2">
	   				<button class="btn waves-effect waves-teal" type="submit" id="send">Dodaj do koszyka</button>
	   				<a class="btn waves-effect waves-teal" th:href="@{/}">Wróć do listy produktów</a>
	   		 		<a class="btn waves-effect waves-teal" th:href="@{/home}">Wróć do strony domowej</a>
   		 		</td>
   			 </tr>
   		 </table>
   	 </form>

    </div>
    </div>
</body>
</html>
