<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Zamówienie</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />


    <div class="pageContext">
   	 <div>
   		 <h4>Zamówienie:</h4>
   	 </div>
   	 <div th:if="${order != null}">
   		 <div>
   			 <table class="table">
   				 <tr>
   					 <th>Unikalny numer zamówienia:</th>
   					 <td th:text="${order.orderId}">Text</td>
   				 </tr>
   				 <tr>
   					 <th>Data utworzenia zamówienia:</th>
   					 <td th:text="${order.creationTime}">Text</td>
   				 </tr>
   			 </table>
   		 </div>
   		 <div th:if="${!order.productList.isEmpty()}">
   			 <table class="bordered">
   				 <tr>
   					 <th>Nazwa</th>
   					 <th>Producent</th>
   					 <th>Kategoria</th>
   					 <th>Ilość</th>
   					 <th>Cena ogółem</th>
   				 </tr>
   				 <tr th:each="productFromList : ${order.productList}">
   					 <td th:text="${productFromList.product.name}">Text</td>
   					 <td th:text="${productFromList.product.producer.producerName}">Text</td>
   					 <td th:text="${productFromList.product.productCategory.productCategoryName}">Text</td>
   					 <td th:text="${productFromList.numberOfProducts}">Text</td>
   					 <td th:text="${productFromList.totalPrice}">Text</td>
   					 <td><a th:href="@{/customer/order/deleteProduct(productId=${productFromList.product.productId})}"><span>Usuń</span></a></td>
   				 </tr>
   			 </table>
   		 </div>
   	 </div>
<!--   	 <div th:if="${order != null}">
   		 <div>Uwaga, brak kategorii w bazie!</div>
   	 </div> --> 
   	 <div style="margin-top:10px">
   		 <a class="btn waves-effect waves-teal" th:href="@{/customer/buy}"><span>Dokonaj zakupu!</span></a>
   		 <a class="btn waves-effect waves-teal" th:href="@{/}"><span>Wróć do list produktów</span></a>
   	 </div>
    </div>
    </div>
</body>
</html>
