<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Zakup produktów</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

   	 <h4>Dokonaj zakupu:</h4>

    <form th:action="@{/customer/buy}" th:object="${buyProductsVO}" method="post">
   	 <table>
   		 <tr>
   			 <th colspan="2"><div id="myFormTitle">Wybierz formę dostawy:</div></th>
   		 </tr>
   		 <tr>
   			 <td>Rodzaj dostawy:</td>
   			 <td><select th:field="*{shipmentType}">
   					 <option th:each="shipmentType : ${shipmentTypeValues}" th:value="${shipmentType.toString()}" th:text="${shipmentType.name}">Opt</option>
   			 </select></td>
   		 </tr>
   		 <tr>
   			 <td colspan="2">
   			 <button class="btn waves-effect waves-teal" type="submit" id="send">Potwierdz</button>
   			 <a class="btn waves-effect waves-teal" th:href="@{/}">Wróć do listy produktów</a>
   		 	 <a class="btn waves-effect waves-teal" th:href="@{/home}">Strona główna</a>
   			 </td>
   		 </tr>
   	 </table>
    </form>
</div>
</body>
</html>
