<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
	<title>Słownik</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />	

	<div class="pageContext">
		<div th:if="${dictionaryList.getSize() > 0}">
			<h4>Słownik:</h4>
			<table class="striped">
				<tr>
					<th>Id</th>
					<th>Hasło</th>
					<th>Typ</th>
					<th>Index w tabeli</th>
				</tr>
				<tr th:each="dict : ${dictionaryList}">
					<td th:text="${dict.dictionaryId}">Text</td>
					<td th:text="${dict.dictionaryKeyword}">Text</td>
					<td th:text="${dict.dictionaryCategoryName.categoryName}">Text</td>
					<td th:text="${dict.parentTableId}">Text</td>
				</tr>
			</table>
			<ul>
				<div>
					<span th:class="${pageNumber == 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/dictionary(page=1)}"><span>Pierwsza</span></a></span>
					<span th:class="${pageNumber &lt;= 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/dictionary(page=${pageNumber-1})}"><span>Poprzednia</span></a></span>
					<span th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/dictionary(page=${pageNumber+1})}" th:disabled="${nextInp}"><span>Następna</span></a></span>
					<span th:class="${pageNumber == maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/dictionary(page=${maxPagesNumber})}"><span>Ostatnia</span></a></span>
				</div>
			</ul>
		</div>
		<a class="btn waves-effect waves-teal" th:href="@{/home}">Return to homepage</a>
	</div>
	</div>
</body>
</html>