<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
	<title>Strona domowa właściciela</title>
</head>
<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

	<header>
		<h4>Strona domowa właściciela</h4>
		<h5><p th:text="${usernameMsg}">username</p></h5>
		<div>
			<form th:action="@{/logout}" method="post">
				<a class="btn waves-effect waves-teal" th:href="@{/changePassword}">Zmień hasło</a>
				<a class="btn waves-effect waves-teal" th:href="@{/owner/accountsControl}">Zarządzaj kontami</a>
				<a class="btn waves-effect waves-teal" th:href="@{/owner/productList}">Produkty</a>
				<input class="btn waves-effect waves-teal" type="submit" id="logout" value="Wyloguj" />
			</form>
			<div style="margin-top:10px">
				<a class="btn waves-effect waves-teal" th:href="@{/owner/productCategoryList}">Kategorie produktów</a>
				<a class="btn waves-effect waves-teal" th:href="@{/owner/producerList}">Producenci</a>
				<a class="btn waves-effect waves-teal" th:href="@{/owner/dictionary}">Słownik</a>
				</div>
		</div>
		

	</header>

	<hr />
<!--
	<div class="pageContext">
		c
		<p th:text="${roleMsg}">role</p>
	</div>
	  -->
</div>
</body>
</html>