<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Strona domowa klienta</title>
</head>
<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />


		<h3><p th:text="${usernameMsg}">username</p></h3>
		<div>		
			<form th:action="@{/logout}" method="post">
				<a class="btn waves-effect waves-teal" th:href="@{/}">Strona główna</a>
				<input class="btn waves-effect waves-teal" type="submit" id="logout" value="Wyloguj" />
				<a class="btn waves-effect waves-teal" th:href="@{/customer/archivedOrders}">Poprzednie zakupy</a>
				<a class="btn waves-effect waves-teal" th:href="@{/changePassword}">Zmień hasło</a>
			</form>	
		</div>

	<hr />
<!--
	<div class="pageContext">
		<p th:text="${usernameMsg}">username</p>
		<p th:text="${roleMsg}">role</p>
	</div>
	  -->
</div>
</body>
</html>