<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Lista produktów</title>
</head>

<body>

	<nav class="teal lighten-2" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li><a th:href="@{/home}">Strona główna</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a th:href="@{/login}">Zaloguj</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="pageContext">
		<div th:if="${productList.getSize() > 0}">
			<h2>Lista produktów:</h2>
			<table>
				<tr>
					<th>Id</th>
					<th>Nazwa</th>
					<th>Cena</th>
					<th>Ilość</th>
					<th>Kod</th>
					<th>Operacje</th>
				</tr>
				<tr th:each="product : ${productList}">
					<td><a th:href="@{/owner/productList/product(productId=${product.productId})}"><span th:text="${product.productId}">id</span></a></td>
					<td th:text="${product.name}">Text</td>
					<td th:text="${product.price}">Text</td>
					<td th:text="${product.stockSize}">Text</td>
					<td th:text="${product.code}">Text</td>
					<td><a th:href="@{'/owner/productList/updateProduct'(productId=${product.productId},page=${pageNumber})}"><span>Update</span></a>/ <a th:href="@{'/owner/productList/deleteProduct'(productId=${product.productId},page=${pageNumber})}"><span>Delete</span></a>
					</td>
				</tr>
			</table>
			<ul>
				<div>
					<li th:class="${pageNumber == 1?'disabled':''}"><a type="button" th:href="@{/owner/productList(page=1)}"><span>Pierwsza</span></a></li>
					<li th:class="${pageNumber &lt;= 1?'disabled':''}"><a type="button" th:href="@{/owner/productList(page=${pageNumber-1})}"><span>Poprzednia</span></a></li>
					<li th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}"><a type="button" th:href="@{/owner/productList(page=${pageNumber+1})}" th:disabled="${nextInp}"><span>Następna</span></a></li>
					<li th:class="${pageNumber == maxPagesNumber?'disabled':''}"><a type="button" th:href="@{/owner/productList(page=${maxPagesNumber})}"><span>Ostatnia</span></a></li>
				</div>
			</ul>
		</div>
		<div th:unless="${productList.getSize() > 0}">
			<div>Uwaga, brak produktów w bazie!</div>
		</div>
		
		<div>
			<a id="addLinkButton" th:href="@{/owner/productList/addProduct}"><span>Dodaj nowy produkt</span></a>
		</div>
		
	</div>
</body>
</html>