<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Lista produktów</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />
	
	<div class="pageContext">
		<div th:if="${productList.getSize() > 0}">
			<h4>Lista produktów:</h4>
			<table class="striped">
				<tr>
					<th>Id</th>
					<th>Nazwa</th>
					<th>Cena</th>
					<th>Ilość</th>
					<th>Kod</th>
					<th>Operacje</th>
				</tr>
				<tr th:each="product : ${productList}">
					<td><!-- <a th:href="@{/owner/productList/product(oId=${product.productId})}">--><span th:text="${product.productId}">id</span></td>
					<td th:text="${product.name}">Text</td>
					<td th:text="${product.price}">Text</td>
					<td th:text="${product.stockSize}">Text</td>
					<td th:text="${product.code}">Text</td>
					<td><a th:href="@{'/owner/productList/updateProduct'(oId=${product.productId},page=${pageNumber})}"><span>Aktualizuj</span></a>/ 
					<a th:href="@{'/owner/productList/deleteProduct'(oId=${product.productId},page=${pageNumber})}"><span>Usuń</span></a>
					</td>
				</tr>
			</table >
		
				<div>
					<span th:class="${pageNumber == 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/productList(page=1)}"><span>Pierwsza</span></a></span>
					<span th:class="${pageNumber &lt;= 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/productList(page=${pageNumber-1})}"><span>Poprzednia</span></a></span>
					<span  th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/productList(page=${pageNumber+1})}" th:disabled="${nextInp}"><span>Następna</span></a></span>
					<span th:class="${pageNumber == maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/productList(page=${maxPagesNumber})}"><span>Ostatnia</span></a></span>
				</div>

		</div>
		<div th:unless="${productList.getSize() > 0}">
			<div>Uwaga, brak produktów w bazie!</div>
		</div>
		
		<div>
			<a style="margin-top:4px" id="addLinkButton" class="btn waves-effect waves-teal" th:href="@{/owner/productList/addProduct}"><span>Dodaj nowy produkt</span></a>
		</div>
		
	</div>
	</div>
</body>
</html>