<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
	<title>Lista producentów</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

	<div class="pageContext">
		<div th:if="${producerList.getSize() > 0}">
			<h4>Lista producentów:</h4>
			<table class="striped">
				<tr>
					<th>Id</th>
					<th>Nazwa</th>
					<th>Operacje</th>
				</tr>
				<tr th:each="producer : ${producerList}">
					<td th:text="${producer.producerId}">Text</td>
					<td th:text="${producer.producerName}">Text</td>
					<td><a th:href="@{'/owner/producerList/updateProducer'(oId=${producer.producerId},page=${pageNumber})}"><span>Aktualizuj</span></a>/ 
					<a th:href="@{'/owner/producerList/deleteProducer'(oId=${producer.producerId},page=${pageNumber})}"><span>Usuń</span></a>
					</td>
				</tr>
			</table>

				<div>
					<span th:class="${pageNumber == 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/producerList(page=1)}"><span>Pierwsza</span></a></span>
					<span th:class="${pageNumber &lt;= 1?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/producerList(page=${pageNumber-1})}"><span>Poprzednia</span></a></span>
					<span th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/producerList(page=${pageNumber+1})}" th:disabled="${nextInp}"><span>Następna</span></a></span>
					<span th:class="${pageNumber == maxPagesNumber?'disabled':''}"><a class="btn waves-effect waves-teal" type="button" th:href="@{/owner/producerList(page=${maxPagesNumber})}"><span>Ostatnia</span></a></span>
				</div>

		</div>
		<div th:unless="${producerList.getSize() > 0}">
			<div>Uwaga, brak kategorii w bazie!</div>
		</div>

		<form id="myForm" th:action="@{/owner/producerList/addProducer}" th:object="${producerVO}" method="post">
			<div id="myFormStyle">
				<table>
					<tr>
						<td>Dodaj nowego producenta:</td>
						<td><input type="text" th:field="*{producerName}" /></td>
					</tr>
				</table>
				<button class="btn waves-effect waves-teal" type="submit" id="send">Dodaj</button>
			</div>
		</form>
	</div>
	</div>
</body>
</html>