<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
	<title>Produkt</title>
</head>

<body>

	<nav class="teal lighten-2" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li><a th:href="@{/home}">Strona główna</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
			<li><a th:href="@{/owner/productList}">Wróć do listy produktów</a></li>
			<li><a th:href="@{/home}">Wróć do strony domowej</a></li>
			</ul>
		</div>
	</nav>

	<div class="col s12 m8 l9">
		<div>
			<h3><span th:text="${product.name}">Text</span></h3>
		</div>
		<table>
			<tr>
				<td>Cena:</td>
				<td th:text="${product.price}">Text</td>
			</tr>
			<tr>
				<td>Ilość:</td>
				<td th:text="${product.stockSize}">Text</td>
			</tr>
			<tr>
				<td>Kod:</td>
				<td th:text="${product.code}">Text</td>
			</tr>
			<tr>
				<td>Producent:</td>
				<td th:text="${product.producer.producerName}">Text</td>
			</tr>
			<tr>
				<td>Kategoria:</td>
				<td th:text="${product.productCategory.productCategoryName}">Text</td>
			</tr>
			<tr>
				<td>Zdjęcie:</td>
				<td><img th:src="@{${'/resources/images/' + product.productImage.productImageName}}" /></td>
			</tr>
			<tr>
				<td>Operacje:</td>
				<td><a th:href="@{/owner/productList/updateProduct(oId=${product.productId})}"><span>Aktualizuj</span></a>/ <a th:href="@{/owner/productList/deleteProduct(productId=${product.productId})}"><span>Usuń</span></a></td>
			</tr>
		</table>
	</div>
</body>
</html>