<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Rejestracja klienta</title>
</head>

<body>
	<header>
		<h1>Rejestracja konta właściciela</h1>
		<div id="leftMenuHeader">Menu:</div>
		<ul>
			<li><a th:href="@{/}">Wróć do strony domowej</a></li>
		</ul>
	</header>
	<hr />

	<div class="pageContext">
		<form th:action="@{/registerOwner}" th:object="${ownerVO}" method="post">
			<div>
				<table>
					<tr>
						<td>Nazwa użytkownika:</td>
						<td><input type="text" th:field="*{userVO.username}" /></td>
					</tr>
					<tr>
						<td>Nowe hasło:</td>
						<td><input type="password" th:field="*{userVO.password_1}" /></td>
					</tr>
					<tr>
						<td>Powtórz hasło:</td>
						<td><input type="password" th:field="*{userVO.password_2}" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="email" th:field="*{userVO.email}" /></td>
					</tr>
					<tr>
						<td>Skret:</td>
						<td><input type="text" th:field="*{secret}" /></td>
					</tr>
				</table>
				<button type="submit" id="send">Zarejesruj</button>
				<div>Pola z * są opcjonalne</div>
			</div>
		</form>
	</div>
</body>
</html>