<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Rejestracja klienta</title>
</head>

<body>
<div class="container">
<th:block th:include="../static/fragments/pasek :: pasek" />

	<div class="pageContext">
		<form th:action="@{/registerCustomer}" th:object="${customerVO}"
			method="post">
			<div>
				<table>
					<tr>
						<td>Nazwa użytkownika:</td>
						<td><input type="text" th:field="*{userVO.username}" /></td>
					</tr>
					<tr>
						<td>Nowe hasło:</td>
						<td><input type="password" th:field="*{userVO.password_1}" /></td>
					</tr>
					<tr>
						<td>Powtórz hasło:</td>
						<td><input type="password" th:field="*{userVO.password_2}" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="email" th:field="*{userVO.email}" /></td>
					</tr>

					<tr>
						<td>Imię:</td>
						<td><input type="text" th:field="*{customerDetailsVO.name}" /></td>
					</tr>
					<tr>
						<td>Nazwisko:</td>
						<td><input type="text"
							th:field="*{customerDetailsVO.surname}" /></td>
					</tr>
					<tr>
						<td>Rok urodzenia:</td>
						<td><input type="text"
							th:field="*{customerDetailsVO.dateOfBirth}" /></td>
					</tr>
					<tr>
						<td>Kraj:</td>
						<td><select th:field="*{countryVO.countryId}">
								<option value="" selected="true">Wybierz swój kraj</option>
								<option th:each="country : ${countryList}"
									th:value="${country.countryId}"
									th:text="${country.countryName}">Opt</option>
						</select></td>
					</tr>
					
					<tr>
						<td>Miasto:</td>
						<td><input type="text" th:field="*{customerDetailsVO.city}" /></td>
					</tr>
					<tr>
						<td>Adres domu:</td>
						<td><input type="text"
							th:field="*{customerDetailsVO.address}" /></td>
					</tr>
					<tr>
						<td>Kod pocztowy:</td>
						<td><input type="text"
							th:field="*{customerDetailsVO.postcode}" /></td>
					</tr>
				</table>
				<button class="waves-effect waves-light btn" type="submit" id="send">Zarejestruj</button>
			</div>
		</form>
	</div>
	</div>
</body>
</html>