<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:include="../static/fragments/header :: header">
<title>Rejestracja klienta</title>
</head>

<body>
	<nav class="teal lighten-2" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li><a th:href="@{/}">Strona główna</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a th:href="@{/login}">Zaloguj</a></li>
			</ul>
		</div>
	</nav>

	<div class="pageContext">
		<form th:action="@{/registerOwner}" th:object="${ownerVO}" method="post">
			<div>
				<table>
					<tr>
						<td>Nazwa użytkownika:</td>
						<td><input type="text" id="username_field" th:field="*{userVO.username}" /></td>
					</tr>
					<tr>
						<td>Nowe hasło:</td>
						<td><input type="password" th:field="*{userVO.password_1}" /></td>
					</tr>
					<tr>
						<td>Powtórz hasło:</td>
						<td><input type="password" th:field="*{userVO.password_2}" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="email" th:field="*{userVO.email}" /></td>
					</tr>
					<tr>
						<td>Skret:</td>
						<td><input type="text" th:field="*{secret}" /></td>
					</tr>
				</table>
				<button class="waves-effect waves-light btn" type="submit" id="send">Zarejesruj</button>
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
		window.addEventListener("load", setUpAllListeners, true);
		function setUpAllListeners() {
			document.getElementById('username_field').addEventListener("input",usernameValidate);
		}
		function usernameValidate() {
			$.ajax("http://localhost:8080/resources/"+ document.getElementById('username_field').value, {
				success : function(responseText, statusText, jqXHR) {
						var isFree = JSON.parse(responseText);
						if( responseText == true )
							alert("Nazwa użytkownika jest już zajęta!");
				},
				error : function(jqXHR, status, err) {
				}
			});
		}
	</script>

</body>
</html>