@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css");

body {
	margin-left: 3cm;
	margin-right: 5cm;
	background-color: #ecf7dd;
    margin-top: 50px;
}

table, td, th {    
    text-align: left;
}

th, td {
    padding: 10px;
}

tr {
	background-color: #f2f2f2
}

