@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css");

body {
	background-color: #ffffff;
    margin-top: 0px;  
    margin-bottom: 0px;
}
#lista_w_linii li{
	display: inline;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*
header {
	
}

tittle {
	font-size: 250%;
}

h3 {
	font-size: 200%;
}

h2 { 
	font-size: 250%;
}

h1 {
	font-size: 300%;
	text-align: center;
}

hr {
	width: 50%;
	margin: 0 auto;
}

table {
	border: 3px solid black;
    border-collapse: collapse;
    width: 60%;
}

table, td, th {    
	border: 1px solid black;
}

th {
	height: 15px;
}

th, td {
    padding: 5px;
    text-align: center;
}

tr {
	background-color: #f2f2f2;
}

input {
	width: 95%;
}

#send {
	margin-top: 25px;
	width: 250px;
	height: 35px;
	margin-down: 25px;
}

.pageContext {
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}

#logout {
	min-width: 175px;
    max-width: 250px;
	height: 35px;
}

header ul, header li, header #logout, header #leftMenuHeader, header #leftMenuLogout {
	width: 22%;
	overflow:auto;
	float:left;
	top: 25%;
	margin-left: 25px; 
}

header ul {
	margin-top: 30px;
	position: fixed;
	list-style: square;
}

header li {
	height: 25px;
	margin-top: 25px;
	min-width: 175px;
    max-width: 250px;
}

#emptyLi {
	height: 1px;
}

#leftMenuLogout {
	position: block;
}

#leftMenuHeader {
	position: fixed; 
	font-size: 150%;
}

.pageContext ul {
    list-style-type: none;
	width: 50%;
	margin: 0 auto;
    overflow: hidden;
    background-color: #dddddd;
    margin-top: 15px;  
    margin-bottom: 20px;
    float: left;
    min-width: 400px;
    max-width: 400px;
}

.pageContext li {
    float: left;
}

.pageContext li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
    max-width: 100px;
}

.pageContext li a:hover {
    background-color: #b0b0b0;
}

#addLinkButton {
	display: block;
	appearance: button;
	min-width: 100px;
    max-width: 200px;

}

*/
